h1{
}


#categorias-container{
    margin-top: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    a{
        font-weight: bold;
        margin: 10px 10px;
        padding: 60px 20px;
        text-align: center;
        border-radius: 10px ;
        color: white;
        background-size: cover;
        background-position: center;
    }
}
