<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carrito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carrito</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="carritoService.carrito.length">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of carritoService.carrito">
          <ion-thumbnail slot="start">
            <img alt="{{item.producto.nombre}}" src="{{item.producto.imagen}}" />
          </ion-thumbnail>
          <ion-label>{{item.producto.nombre}} - {{item.producto.precio}} - {{item.cantidad}}</ion-label>
          <ion-button fill="clear" (click)="carritoService.eliminarProducto(item.producto.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
          <app-contador-cantidad [cantidadInicial]="item.cantidad"></app-contador-cantidad>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card>
      <p *ngIf="!carritoService.carrito.length">Tu carrito esta vacio, <a [routerLink]="['/tabs/tab1']">agrega algun
          producto</a></p>
      <p>Total: ${{carritoService.totalCarrito}}</p>
      <!-- <ion-button fill="clear">comprar</ion-button> -->
      <a href="{{carritoService.generarMensaje()}}" target="_blank">COMPRAR</a>
      <ion-button fill="clear" (click)="carritoService.limpiarCarrito()">limpiar carrito</ion-button>
      </ion-card>
    </ion-card>
</ion-content>